
.idea/compiler.xml
.idea/discord.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__fr_mrcubee_minecraft_library_languagelib_1_0.xml
.idea/libraries/Maven__fr_mrcubee_minecraft_library_plugin_finder_1_0.xml
.idea/libraries/Maven__org_spigotmc_spigot_api_1_8_R0_1_SNAPSHOT.xml
.idea/LobbyPlugin.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/discord.xml
